<ion-header [translucent]="true" class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border" mode="ios">
    <ion-toolbar>
      <ion-title size="large">Encabezados</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [value]="selectedCategory" (ionChange)="segmentChanged($event)" scrollable>
    <ion-segment-button *ngFor="let cat of categorias" [value]="cat">
      <ion-label class="ion-text-capitalize">{{cat}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-articles [articles]="articles" />

</ion-content>
